* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

#header {
  width: 100%;
  position: fixed;
  padding: 20px 0;
  background: #211e1e;
}
#header .header--block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--block__title h1 {
  font-size: 32px;
  color: #eeeeee;
  font-weight: 700;
}
#header .header--block__title h1 span {
  font-size: 20px;
  color: #eeeeee;
  font-weight: 700;
}
#header .header--block__search {
  position: relative;
}
#header .header--block__search input {
  width: 350px;
  height: 51px;
  border-radius: 41px;
  outline: none;
  background: #2a2828;
  color: rgba(51, 45, 45, 0.68);
  padding-left: 20px;
}
#header .header--block__search img {
  position: absolute;
  right: 10px;
  top: 16px;
}
#header .header--block__menu a {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.4s;
  padding: 0 20px;
}
#header .header--block__menu a:hover {
  transform: scale(1.1);
  color: #EEB563;
}
#header .header--block__icon ion-icon {
  color: white;
  margin: 0 10px;
}

#section {
  background: #090808;
  padding: 169px;
}
#section .section--title h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #EEB563;
  margin: 30px;
}
#section .section--title__wes h1 {
  font-weight: 500;
  font-size: 96px;
  line-height: 116px;
  color: #FFFFFF;
}
#section .section--title__web h1 {
  font-weight: 500;
  font-size: 96px;
  line-height: 116px;
  color: #FFFFFF;
}
#section .section--title__well h1 {
  font-weight: 500;
  font-size: 96px;
  line-height: 116px;
  color: #FFFFFF;
}
#section .section--title__img {
  margin-left: 100%;
  margin-top: -90px;
}
#section .section--title__find {
  display: flex;
  align-items: center;
  margin-left: -20%;
}
#section .section--title__find p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
  width: 20%;
  margin: 20px;
}
#section .section--title__img2 {
  width: 35%;
  height: 532px;
  background: linear-gradient(354.73deg, #E4E4A8 2.81%, #5C5C56 104.28%);
  border-radius: 209px;
  margin-right: -40%;
}
#section .section--title__img2 img {
  margin-left: -90%;
  margin-top: -40px;
}
#section .section--title__black img {
  margin-top: -50%;
  margin-left: -100%;
}
#section .section--title__black--img2 {
  margin-left: 20%;
  margin-top: -15%;
}
#section .section--title__small {
  margin-top: -56%;
}
#section .section--title__small img {
  margin-left: 90%;
  margin-bottom: 30%;
}
#section .section--title__small p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 26%;
  margin-left: 90%;
}
#section .section--title__make {
  display: flex;
  justify-content: space-around;
  width: 130%;
  margin-top: 40%;
  margin-left: -15%;
}
#section .section--title__make h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#section .section--title__pay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
