$white:white;
@import "mixin";
@import "varabies";
@import "global";
@import "reset";

#header {
  background: rgba(27,17,3,0.97);
  .header{
    @include between;
    color:$white;
    width: 90%;
    padding: 20px 50px;
  }
};
  .header input{
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 41px;
  padding: 10px 60px;
  }
  .menu{
    @include between;
    color: $white;
  }






